.MainChat
  .GroupInfo
    .GroupInfo__Group
      .GroupInfo__Group--name
        = @group.name
      .GroupInfo__Group--edit
        = link_to edit_group_path(@group), class: "GroupInfo__Group--edit--btn" do
          Edit
    .GroupInfo__member
      Member : 
      - @group.group_users.each do |m|
        = m.user.name
        
  .MessageList
    = render @messages

  .NewMessageForm
    = form_for [@group, @message] do |f|
      .Form
        .Form__inputSpace
          = f.text_field :content, class: 'Form__inputSpace--text', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputSpace--image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'Form__inputSpace--image--file'
        = f.submit 'send', class: 'Form__sendBtn'